.closeBut{
    background-color: transparent;
    width: 100px;
    border: none;
    font-size: 20px;
}

.favBtn{
        background-color: transparent;
            border: none;
            font-size: 30px;
}
.myCard {
    height: 300px;
    width: 300px;
    border-radius: 1rem;
}

.myCard img {
    height: 300px;
    border-radius: 1rem;

}

.title {
    color: #010101;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}


.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #9d0e94 0%, #d48fdc 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}



.detail {
    appearance: none;
    background-color: transparent;
    // border: 0.125em solid #cc3bc0;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #e7e7e7;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    // font-weight: 600;
    line-height: normal;
    margin: 0;
    // min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    // margin-left: 1rem;
}

.detail:disabled {
    pointer-events: none;
}

.detail:hover {
    color: #a61181;
    background-color: #ffffff;
    box-shadow: rgb(255, 255, 255) 0 1px 10px;
    transform: translateY(-1px);
}

.detail:active {
    box-shadow: none;
    transform: translateY(0);
}

