.card_container{
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.635);
    border-radius: 1rem;
}

.card_container h2 {
font-size: 13px;
text-decoration: none;
    color: aliceblue;
}


.card_img{
    height: 150px;
    width: 150px;
    border-radius: 100rem;
    margin-bottom: 1rem;
}

.userName{
    color: aliceblue;
}