.cards_container_fav{
         display: block;
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
        padding-inline: 12rem;
        padding-block: 3rem;
        gap: 1.5rem;
}